@model Nop.Plugin.Payments.Iyzico.Models.ThreedsCallbackResource
@{
    Layout = "";
}
<!doctype html>
<html lang="en">
<head><title>Loading Page</title></head>
<body>
    <form id="threeds_callback_form" asp-route="@IyzicoDefaults.OrderConfirmRouteName" method="post">
        <input asp-for="Status" type="hidden" />
        <input asp-for="PaymentId" type="hidden" />
        <input asp-for="ConversationId" type="hidden" />
        <input asp-for="ConversationData" type="hidden" />
        <input asp-for="MdStatus" type="hidden" />
        <input name="nextstep" type="hidden" />
    </form>
    <script type="text/javascript" asp-location="Footer">document.getElementById("threeds_callback_form").submit();</script>
    @NopHtml.GenerateInlineScripts(ResourceLocation.Footer)
</body>
</html>