@model Nop.Plugin.Payments.Iyzico.Models.OpcCallbackConfirmModel
@{
    Layout = "";
}
<!doctype html>
<html lang="en">
<head>
    <title>Loading Page</title>
</head>
<body>
    <p>Loading Page ...</p>
    @if (Model.Warnings.Any())
    {
        <script type="text/javascript">
            parent.OpcCallbackConfirm({
                success: false,
                errorMessages: @Html.Raw(Model.GetWarningsAsJson())
            });
        </script>
    }
    else
    {
        <script>
            parent.OpcCallbackConfirm({
                success: true,
                successUrl: "@Model.SuccessUrl"
            });
        </script>
    }
</body>
</html>